.btn {
    padding: 1rem 3rem; 
    background-color: $priColour;
    color: white;
    font-family: $bodyFont;
    font-size: 1.8rem;
    font-weight: $medium;
    border: 0;
    border-radius: 4px;
}