.btn {
    padding: 1rem 3rem; 
    background-color: $priColour;
    color: white;
    font-family: $bodyFont;
    font-size: clamp(1.2rem, calc(1rem + 0.7vw), 1.8rem);
    font-weight: $medium;
    border: 0;
    border-radius: 15px;
}