/****************************
******  NAVIGATION BAR ******
****************************/

$h1FontSize: calc(22px + 0.6vw);
$strapFontSize: calc(10px + 0.6vw);

#nav-bar {
    position: fixed;
    z-index: 3;
    height: 110px;
    width: 100vw;
    background-color: $offBlack;
    max-width: 1600px;
    color: white;
    @include flexCenter(row);
    justify-content: flex-start;

    .nav-logo {
        margin-left: $edgeMargin;
        width: 80px;
    }

    .branding {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        margin-left: 1rem;
        

        h1 {
            font-weight: $semiBold;
            font-size: clamp(24px, $h1FontSize, 36px);
            width: 12ch;
            line-height: 0.9em;
        }
    
        p {
            color: $teal;
            font-size: clamp(12px, $strapFontSize, 14px);
            font-weight: $light;
            
        }
    }

    .nav-links {
        font-weight: $light;
        flex: 1;
        @include flexCenter(row);
        justify-content: space-around;
        list-style: none;
    }

    .social {
        @include flexCenter(row);
        gap: 32px;
        height: 100px;

        a {
            font-size: 2rem;
            text-decoration: none;
            @include flexCenter(row);
            justify-content: flex-end;
            color: white;
        }
    }

    .burger {
        display: none;

        .line {
            width: 40px;
            height: 3px;
            background-color: white;
            margin: 6px 0;
        }
    }
}

#landing-splash .filter {
    padding-left: calc(4rem + 80px);
}


/**************** NAV BAR REMOVE ICONS DOWN TO MOBILE **************/


@media screen and (max-width: 1050px) {
    #nav-bar {

        .nav-logo {
            display: none;
        }
    
        .branding {
            margin-left: $edgeMargin;
        }
    }

    #landing-splash .filter {
        padding-left: $edgeMargin;
    }
}

@media screen and (max-width: 850px) {
    #nav-bar .social {
        display: none;
    }
}


/*************************************************
***************** FORMAT FOR MOBILE **************
*************************************************/


@media screen and (max-width: 750px) {
    #nav-bar {

        .burger {
            flex: 1;
            margin: 30px $edgeMargin;;
            @include flexCenter(column);
            align-items: flex-end;
        }

        .nav-links {
            position: fixed;
            top: 110px;
            background-color:$offBlack;
            opacity: 0.90;
            @include flexCenter(column);
            align-items: center;    
            justify-content: space-around;        
            width: 100%;
            height: calc(100vh - 110px);
            clip-path: circle(100px at 100% 1%);
            -webkit-clip-path: circle(100px at 125% -25%);
            transition: all 0.5s ease-out;
            pointer-events: none;
            
            .nav-link {
                font-size: 1.5rem;
                opacity: 0;

                &:nth-child(1) {
                    transition: all 0.5s ease 0.05s;
                }

                &:nth-child(2) {
                    transition: all 0.5s ease 0.125s;
                }

                &:nth-child(3) {
                    transition: all 0.5s ease 0.2s;
                }

                &:nth-child(4) {
                    transition: all 0.5s ease 0.275s;
                }
            }

            .fade {
                opacity: 1;
            }
        }

        .open {
            clip-path: circle(1400px at 100% 0%);
            -webkit-clip-path: circle(1400px at 100% 0%);
            pointer-events: all;
        }
    }
}

/*.burger-state .line1 {
    transform: rotate(-45deg) translate(-10px, 10px);
}

.burger-state .line2 {
    opacity: 0;
}

.burger-state .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}*/