:root {
    --logo-size--: 80px;
    --edge-margin--: 2.4rem;
    --edge-margin-multiplyer--: 2;
    
    --large-screen--: 1600px;

    --product-cols--: 75%
}

/* Product Col Adjustments */
@media only screen and (min-width: 380px) and (max-width: 460px) {
    :root {
        --product-cols--: 65%;
    }
}

@media only screen and (min-width: 461px) and (max-width: 600px) {
    :root {
        --product-cols--: 55%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 710px) {
    :root {
        --product-cols--: 53%;
    }
}

@media only screen and (min-width: 711px) and (max-width: 900px) {
    :root {
        --product-cols--: 40%;
    }
}

@media only screen and (min-width: 901px) {
    #contact {
        .contact-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: calc(var(--edge-margin--) * var(--edge-margin-multiplyer--));   
            justify-content: left; 

            .contact-info {
                @include flexCenter(column);
                align-items: baseline;
                justify-content: space-between;
            }
    
            p {
                font-size: clamp(1.6rem, calc(1.4rem + 8.333vw), 1.8rem);
                line-height: 3.2rem;
                margin-bottom: 2rem;
    
                &:last-of-type {
                    margin-top: 3.2rem;
                }
            }
    
            a {
                text-decoration: none;
                color: #7c8eb2;
                font-size: clamp(1.6rem, calc(1.4rem + 8.333vw), 1.8rem);
    
                .contact-icon {
                    color: $priColour;
                    font-size: 3rem;
                    margin: 2rem 2rem 2rem 0;
                }
            }

            img {
                margin-bottom: 0;
                height: 100%;
                object-fit: cover;
            }

            form {
                padding: 48px;
                min-width: 280px;
                max-width: 500px;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
                        
                #submit {
                    margin-bottom: 27px;
                }
            }
        }
    }
}

@media only screen and (min-width: 901px) and (max-width: 1150px) {
    :root {
        --product-cols--: 35%;
    }
}

@media only screen and (min-width: 1151px) and (max-width: 1350px) {
    :root {
        --product-cols--: 27%;
    }
}

@media only screen and (min-width: 1351px) {
    :root {
        --product-cols--: 20%;
    }

    .media-scroller {
        margin: 0 calc(var(--edge-margin--) * var(--edge-margin-multiplyer--));
    }
}

/* Small Phone Screens */
@media screen and (max-width: 460px) {
    :root {
        --edge-margin-multiplyer--: 1;
    }

    #nav-bar {
        .nav-logo {
            display: none;
        }

        .branding {
            margin-left: 0;
        }
    }
    
    #landing-splash {
        .filter {
            .landing-container {
                margin: auto auto;
                text-align: center;

                .btn {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

/*  Tablets   */
@media screen and (min-width: 750px) {
    #nav-bar {
        .nav-links {
            all: unset;
            font-weight: $light;
            flex: 1;
            @include flexCenter(row);
            list-style: none;
            transition: none;
            justify-content: flex-end;

            .nav-link {
                all: unset;
                margin-right: 7.5%;
                font-size: 1.6rem;
                opacity: 1;
                margin-right: 7.5%;

                &:nth-child(4) {
                    margin-right: 0;
                }
            }
        }

        .burger {
            display: none;
        }

        .social {
            display: none;
        }
    }

    .page-margins {
        padding: 0 calc(var(--edge-margin--) * var(--edge-margin-multiplyer--) + var(--logo-size--));
    }
    
}

/*  appropriate break for about section   */
@media screen and (min-width: 900px) {
    #get-to-know {
        .gtk-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--edge-margin--);   
            justify-content: left; 
        }
    }

    .page-margins {
        padding: 0 calc(var(--edge-margin--) * var(--edge-margin-multiplyer--));
    }
}

/*  Monitors   */
@media screen and (min-width: 1140px) {
    #nav-bar {
        .nav-links {
            justify-content: flex-end;

            .nav-link {
                margin-right: 10%;

                &:nth-child(4) {
                    margin-right: 10%;
                }
            }
        }
    
        .social {
            display: flex;
        }
    }

    .page-margins {
        padding: 0 calc(var(--edge-margin--) * var(--edge-margin-multiplyer--) + var(--logo-size--));
    }

    #contact > .page-margins {
        padding: 0 calc(var(--edge-margin--) * var(--edge-margin-multiplyer--));
    }
}

/*  Align & neaten contact section padding  */
@media screen and (min-width: 1300px) {
    
    #contact > .page-margins {
        padding: 0 calc(var(--edge-margin--) * var(--edge-margin-multiplyer--) + var(--logo-size--));
    }
}