$offWhite: rgba(251, 251, 251, 1);
$priColour: rgba(110, 166, 162, 1);
$offBlack: rgba(61, 61, 61, 1);
$teal: rgba(48, 214, 176, 1);

$headFont: 'Raleway', sans-serif;
$bodyFont: 'Poppins', sans-serif;

$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$heavy: 900;

$baseFontSize: 62.5%;

$edgeMargin: 4.8rem;

@mixin flexCenter ($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {   
    font-family: $bodyFont;
    color: $offBlack;
    font-size: $baseFontSize;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $headFont;
}

body {
    position: relative;
}