<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Training | Fitness Classes | Committed Conditioning</title>
    <link rel="stylesheet" href="{% static 'c2_main_app/styles/home-style.min.css' %}">
    <link rel="icon" href="{% static 'c2_main_app/styles/images/c2-favicon.ico' %}">

    <!--Import FontAwesome icons-->
    <script src="https://kit.fontawesome.com/27726bfc44.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav id="nav-bar" class="nav-bg">

        <img class="nav-logo" src="{% static 'c2_main_app/styles/images/logoWhite.png' %}" alt="">

        <div class="branding">
            <h1>COMMITTED CONDITIONING</h1>
            <p>Embrace Change It Will Come</p>
        </div>
                
        <ul class="nav-links">
            <li onclick="goTo('#tbc')" class="nav-link">Home</li>
            <li onclick="goTo('#tbc')" class="nav-link">About</li>
            <li onclick="goTo('#tbc')" class="nav-link">Services</li>
            <li onclick="goTo('#tbc')" class="nav-link">Contact</li>

            <li class="social">
                <a href="https://hi-in.facebook.com/committed.conditioning" target="_blank"><i class="fab fa-facebook grow"></i></a>
                <a href="https://www.instagram.com/committed_conditioning" target="_blank"><i class="fab fa-instagram grow"></i></a>
            </li>
        </ul>

        

        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

    </nav>

    {% block content %}
    {% endblock content %}

    <footer>
        <div class="footer-social">
            <a href="#" target="_blank"><i class="fab fa-facebook grow"></i></a>
            <a href="#"><i class="fab fa-instagram grow"></i></a>
        </div>
        <p>© 2022 Committed Conditioning. All Rights Reserved.</p>
        <p>Website design & build by Picktree Technology Services.</p>
    </footer> 

    <script src="{% static 'app.js' %}"></script>
</body>
</html>