{% extends "c2_main_app/base.html" %}
{% load static %}

{% block stylesheets  %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'c2_main_app/styles/consultation-style.min.css' %}">
    <script src="{% static 'app-nav.js' %}" defer></script>
    <script src="{% static 'app_consultation.js' %}" defer></script>
{% endblock %}

{% block content %}
    
    {% if messages %}
        {% for msg in messages %}
            <div id="success-msg">
                <p>{{ msg.message }}</p>
                <i id="close" class="fas fa-times"></i>
            </div>
        {% endfor %}
    {% endif %}

    <main>
        <section id="lead-in">
            <div class="consultation-splash">
                <div class="filter">
                    <h2>Book A Consultation</h2>
                </div>
            </div>
            <article>
                <h3>How This Works</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, rerum veritatis? Enim suscipit a dolorum voluptates nostrum incidunt tempora maiores, iste, reiciendis quis nulla ex doloremque earum quidem quaerat rerum!</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam nesciunt consequatur vitae saepe illum hic tenetur libero eligendi rem ea tempora recusandae, natus quasi iusto officia! Doloremque ipsum id sequi.</p>
            </article>
        </section>

        <div class="accordian">
            <div class="accordian-item shadow">
                <h3 class="accordian-item-header">This Weeks Appointments</h3>
                <div class="accordian-item-body">
                    <ul class="accordian-item-body-content">
                        {% for appt in this_weeks_appts %}
                            <li class="appointment">
                                <input type="radio" id="{{ appt.appt_datetime }}" name="consultationSelection">
                                <label for="{{ appt.appt_datetime }}">{{ appt.formatted_date }}</label>
                            </li>
                        {% empty %}
                            <li>No appointments currently available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="accordian-item shadow">
                <h3 class="accordian-item-header">Next Weeks Appointments</h3>
                <div class="accordian-item-body">
                    <ul class="accordian-item-body-content">
                        {% for appt in next_weeks_appts %}
                            <li>
                                <input type="radio" id="{{ appt.appt_datetime }}" name="consultationSelection">
                                <label for="{{ appt.appt_datetime }}">{{ appt.formatted_date }}</label>
                            </li>
                        {% empty %}
                            <li>No appointments currently available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="accordian-item shadow">
                <h3 class="accordian-item-header">Other Appointments</h3>
                <div class="accordian-item-body">
                    <ul class="accordian-item-body-content">
                        {% for appt in next_four_weeks_appts %}
                            <li>
                                <input type="radio" id="{{ appt.appt_datetime }}" name="consultationSelection">
                                <label for="{{ appt.appt_datetime }}">{{ appt.formatted_date }}</label>
                            </li>
                        {% empty %}
                            <li>No appointments currently available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="contact-form-container">
            <form method="POST" action="" id="">{% csrf_token %}
                <label for="firstname">First Name</label><br>
                <input type="text" id="firstname_input" class="input_field" name="firstname" autocomplete="off"><br>
                <label for="surname">Surname</label><br>
                <input type="text" id="surname_input" class="input_field" name="surname" autocomplete="off"><br>
                <label for="email">Email</label><br>
                <input type="text" id="email_input" class="input_field" name="email" autocomplete="off"><br>
                <label for="location">Location Preference</label><br>
                <div class="radio_group">
                    <input type="radio" id="loc_choice1" name="location">
                    <label for="loc_choice1">Zoom</label>
                    <input type="radio" id="loc_choice2" name="location">
                    <label for="loc_choice2">Cullompton</label>
                </div>
                
                <input type="submit" id="submit" class="btn shadow" value="Submit" disabled>
            </form>
        </div>

    </main>

{% endblock content %}