{% extends "c2_main_app/base.html" %}
{% load static %}

{% block stylesheets  %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'c2_main_app/styles/consultation-style.min.css' %}">
{% endblock %}

{% block content %}
    
    {% if messages %}
        {% for msg in messages %}
            <div id="success-msg">
                <p>{{ msg.message }}</p>
                <i id="close" class="fas fa-times"></i>
            </div>
        {% endfor %}
    {% endif %}

    <main>
        <h2>Current Consultations:</h2> <br>
        <div class="accordian">
            <div class="accordian-item shadow">
                <h3 class="accordian-item-header">This Weeks Appointments</h3>
                <div class="accordian-item-body">
                    <ul class="accordian-item-body-content">
                        {% for appt in this_weeks_appts %}
                            <li>
                                <input type="radio" id="{{ appt.appt_datetime }}" name="consultationSelection">
                                <label for="{{ appt.appt_datetime }}">{{ appt.formatted_date }}</label>
                            </li>
                        {% empty %}
                            <li>No appointments currently available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="accordian-item shadow">
                <h3 class="accordian-item-header">Next Weeks Appointments</h3>
                <div class="accordian-item-body">
                    <ul class="accordian-item-body-content">
                        {% for appt in next_weeks_appts %}
                            <li>
                                <input type="radio" id="{{ appt.appt_datetime }}" name="consultationSelection">
                                <label for="{{ appt.appt_datetime }}">{{ appt.formatted_date }}</label>
                            </li>
                        {% empty %}
                            <li>No appointments currently available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="accordian-item shadow">
                <h3 class="accordian-item-header">Other Appointments</h3>
                <div class="accordian-item-body">
                    <ul class="accordian-item-body-content">
                        {% for appt in next_four_weeks_appts %}
                            <li>
                                <input type="radio" id="{{ appt.appt_datetime }}" name="consultationSelection">
                                <label for="{{ appt.appt_datetime }}">{{ appt.formatted_date }}</label>
                            </li>
                        {% empty %}
                            <li>No appointments currently available</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

    </main>

{% endblock content %}