{% extends "c2_main_app/base.html" %}
{% load static %}

{% block content %}
    
    {% if messages %}
        {% for msg in messages %}
            <div id="success-msg">
                <p>{{ msg.message }}</p>
                <i id="close" class="fas fa-times"></i>
            </div>
        {% endfor %}
    {% endif %}

    <main>
        <section id="landing-splash">
            <div class="filter">
                <h2>Personal Training In The South West</h2>
                <button class="btn">Class Bookings</button>
            </div>
        </section>

        <section id="get-to-know">
            <header>
                <h3>GET TO KNOW US</h3>
            </header>

            <article>
                <div class="info-card-narrative">
                    <h4>EMBRACE CHANGE</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ante fringilla imperdiet massa quis. Nam sem ut tempor justo, varius quam urna, volutpat. Cras cras aliquet mauris ornare nam. Leo, ullamcorper pellentesque in leo enim. Placerat quis cursus nibh id mauris, ut. Blandit ac lacus, elementum neque. Habitant ornare et, molestie vulputate ut feugiat nisl. Malesuada turpis imperdiet eget quis. Eu sed vitae penatibus quam ullamcorper eget nunc. Condimentum bibendum dignissim imperdiet quisque.</p>
                </div>
                <div class="info-card">
                    <h4>COMMITTED CONDITIONING</h4>
                    <div class="image-container">
                        <img src="{% static 'c2_main_app/styles/images/logoBlack.png' %}" alt="">
                    </div>
                    <ul>
                        <li>Premium Personal Training Service</li>
                        <li>Tailored Fitness Programmes & Classes</li>
                        <li>South West & Online Client Base</li>
                    </ul>
                </div>
            </article>
            
            <article>
                <div class="info-card-narrative">
                    <h4>OUR PHILOSOPHY</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ante fringilla imperdiet massa quis. Nam sem ut tempor justo, varius quam urna, volutpat. Cras cras aliquet mauris ornare nam. Leo, ullamcorper pellentesque in leo enim. Placerat quis cursus nibh id mauris, ut. Blandit ac lacus, elementum neque. Habitant ornare et, molestie vulputate ut feugiat nisl. Malesuada turpis imperdiet eget quis. Eu sed vitae penatibus quam ullamcorper eget nunc. landit ac lacus, elementum neque. Habitant ornare et, molestie vulputate ut feugiat nisl. Malesuada turpis imperdiet.</p>
                </div>
                <div class="info-card">
                    <h4>HEAD COACH - ROB DIXON</h4>
                    <p>An ex-Royal Marines Commando, Rob has a track record of inspiring clients to reach thier goals. He is a registered member of the Chartered Insitute for the Management of Sport & Physical Activity.</p>
                    <div class="CIMSPA">
                        <img src="{% static 'c2_main_app/styles/images/facebook-icon.png' %}" alt="">
                        <img src="{% static 'c2_main_app/styles/images/cimspa.png' %}" alt="">
                        <img src="{% static 'c2_main_app/styles/images/insta-logo.png' %}" alt="">
                    </div>
                    <div class="rob">
                        <img src="{% static 'c2_main_app/styles/images/rob_dixon.png' %}" alt="">
                    </div>
                </div>
            </article>

        </section>
    </main>

    
    
    <!-- <section class="landing">
        <img src="{% static 'c2_main_app/images/main_landing_img.jpg' %}" alt="">
        <h2>Personal Training In The South West</h2>
        <button>Class Bookings</button>
    </section>

    <section class="about">
        
    </section> -->
    

    {% endblock content %}