{% extends "c2_main_app/base.html" %}
{% load static %}

{% block stylesheets  %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'c2_main_app/styles/home-style.min.css' %}">
    <script src="{% static 'app-nav.js' %}" defer></script>
    <script src="{% static 'app_index.js' %}" defer></script>
{% endblock %}

{% block content %}
    
    {% if messages %}
        {% for msg in messages %}
            <div id="success-msg">
                <p>{{ msg.message }}</p>
                <i id="close" class="fas fa-times"></i>
            </div>
        {% endfor %}
    {% endif %}

    <main>
        <section id="landing-splash">
            <div class="filter">
                <div class="landing-container">
                    <h2>Group & Personal Training in Cullompton</h2>
                    <button onclick="goTo('#contact')" class="btn btn-enabled">Get In Touch</button>
                </div>
            </div>
        </section>

        <section id="get-to-know">
            <header class="sect-header">
                <h3>ABOUT US</h3>
            </header>

            <article class="gtk-container page-margins">
                <div class="article-narrative">
                    <h4>EMBRACE CHANGE</h4>
                    <p>Regardless of what stage you are at on your journey, we can help you achieve the attainable fitness results you've always wanted. Making any change in behaviour, such as starting a physical activity program, is significant and can be challenging. At Committed Conditioning we understand and are here to listen. Working closely with all of our clients we deliver training that you enjoy makes you feel good and can make a positive sustainable change to your long-term health.</p>
                </div>
                <div class="info-card card-1 shadow">
                    <h4>COMMITTED CONDITIONING</h4>
                    <div class="image-container">
                        <img src="{% static 'c2_main_app/styles/images/logoBlack.png' %}" alt="">
                    </div>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>Premium Personal Training Service</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>Tailored Fitness Programmes & Classes</li>
                        <li><span class="fa-li"><i class="fas fa-check-circle"></i></span>South West & Online Client Base</li>
                    </ul>
                </div>
            </article>
            
            <article class="gtk-container page-margins">
                <div class="article-narrative">
                    <h4>OUR PHILOSOPHY</h4>
                    <p>Hi I'm Rob Dixon a Level 4 Qualified Personal Trainer and Nutrition advisor working in the Cullompton / Exeter area. I've been in the fitness industry for over 5 years and have experience in Strength and Conditioning, Nutrition and weight loss management. I thrive on helping people from all walks of life achieve their Health and fitness goals. I truly believe everyone regardless of age and ability truly has the capacity to become a healthier "fitter "version of themselves and it’s my commitment and desire to ensure I give you the guidance , support and motivation needed to succeed</p>
                </div>
                <div class="info-card card-2 shadow">
                    <h4>PT / GROUP INSTRUCTOR</h4>
                    <div class="image-container rob">
                        <img src="{% static 'c2_main_app/styles/images/RobDixon2.png' %}" alt="">
                    </div>
                    <div class="info-card-narrative">
                        <p>A professional and passionate coach delivering personalised fitness solutions to sustain individuals long term health benefits.</p>
                        <div class="cimspa">
                            <a href="https://www.facebook.com/committed.conditioning" target="_blank"><i class="fb-blue fab fa-facebook grow"></i></a>
                            <img class="cimspa-icon" src="{% static 'c2_main_app/styles/images/cimspa.png' %}" alt="">
                            <a href="https://www.instagram.com/committed_conditioning" target="_blank"><i class="fab fa-instagram grow"></i></a>
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <section id="products">
            <header class="sect-header">
                <h3>SERVICES</h3>
            </header>
            <div class="media-scroller snaps-inline">
                <div class="media-element shadow">
                    <img src="{% static 'c2_main_app/styles/images/Circuits35.jpg' %}" alt="">
                    <h4>Circuits</h4>
                    <p>Exercise in a safe and friendly environment no previous experience required all abilities catered for. Get in touch for more details.</p>
                    <button class="shadow" onclick="goTo('#contact')">Enquiry</button>
                </div>
                <div class="media-element shadow">
                    <img src="{% static 'c2_main_app/styles/images/HurtLocker4.jpg' %}" alt="">
                    <h4>Personal Training</h4>
                    <p>PT's working diligently with clients providing services tailored to your needs. Packages available at competitive prices.</p>
                    <button class="shadow" onclick="goTo('#contact')">Enquiry</button>
                </div>
                <div class="media-element shadow">
                    <img src="{% static 'c2_main_app/styles/images/Circuits51.jpg' %}" alt="">
                    <h4>Weight Management</h4>
                    <p>Practical solutions & goals designed around you offering the sustainable nutritional support needed to take back control of your weight.</p>
                    <button class="shadow" onclick="goTo('#contact')">Enquiry</button>
                </div>
                <div class="media-element shadow">
                    <img src="{% static 'c2_main_app/styles/images/Circuits169.jpg' %}" alt="">
                    <h4>Body Transformation</h4>
                    <p>Tailored meal plans, progressive training programs all facilitated to provide you with the ultimate aesthetic results.</p>
                    <button class="shadow" onclick="goTo('#contact')">Enquiry</button>
                </div>
            </div>
        </section>

        <section id="contact">
            <header class="sect-header">
                <h3>GET IN TOUCH</h3>
            </header>
            <div class="contact-container page-margins">
                <div class="contact-info">
                    <p>Do you feel ready to embrace change or simply kick off a conversation before committing?</p>
                    <p>Please get in touch with Committed Conditioning using this form.</p>
                    <p>Alternativley contact Head Coach Rob Dixon directly via one of the following.</p>
                    <a href="tel:07592527759"><i class="contact-icon fas fa-phone"></i> 07592 527 759</a><br>
                    <a href="mailto:info@committedconditioning.co.uk?subject=Committed Conditioning Enquiry"><i class="contact-icon fas fa-envelope"></i>info@committedconditioning.co.uk</a>
                    <img src="{% static 'c2_main_app/styles/images/HurtLocker42.jpg' %}" alt="">
                </div>
    
                <div class="contact-form-container">
                    <form method="POST" action="" id="new_input_form">{% csrf_token %}
                        <label for="firstname">First Name</label><br>
                        <input type="text" id="firstname_input" class="input_field" name="firstname" autocomplete="off"><br>
                        <label for="surname">Surname</label><br>
                        <input type="text" id="surname_input" class="input_field" name="surname" autocomplete="off"><br>
                        <label for="email">Email</label><br>
                        <input type="text" id="email_input" class="input_field" name="email" autocomplete="off"><br>
                        <label for="message">Message</label><br>
                        <textarea name="message" id="message_input" class="input_field" cols="30" rows="6" autocomplete="off"></textarea><br>
                        <input type="submit" id="submit" class="btn shadow" value="Submit" disabled>
                    </form>
                </div>

            </div>
            
        </section>
        
    </main>

    {% endblock content %}