@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@900&display=swap');

@import "./setup";
@import "./contact-form";

body {
    overflow-x: hidden;
    max-width: 1600px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $offWhite;
    color: $offBlack;

    &::after {
        content: "";
        background: url(images/brick-work.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        opacity: 0.25;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }
}

header {
    height: 30vh;
    @include flexCenter(column);
    h1 {
        font-family: 'Rokkitt', serif;
        columns: $offBlack;
        font-size: 4rem;
        letter-spacing: -0.1rem;
        // width: 80vw;
        // transform: rotate(-4.5deg);
    }
    h2 {
        font-size: 1.4rem;
        margin-top: 1rem;
        color: #494949;
    }
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
        "r r r t t t t f f f f f";

    #rob {
        grid-area: r;
        @include flexCenter(row);
        height: 100%;
        
    }

    .txt-box {
        grid-area: t;
        display: flex;
        flex-direction: column;
        gap: 2.2rem;

        h2 {
            font-size: 3.5rem;
            font-weight: 600;
            letter-spacing: -0.2rem;
            //text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
        }

        .bullet-and-badge {
            width: 100%;
            display: flex;
            ul {
                li {
                    font-weight: 300;
                    font-size: 1.6rem;
                    list-style: none;
                    margin: 1rem 0;
                    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
                }
            }

            img {
                height: 8rem;
                align-self: center;
                margin-left: 2.5rem;
            }
        }
        
        .social-media {
            a .icon {
                width: 2.5rem;
                margin-right: 1rem
            }
        }
    }

    .contact {
        @include flexCenter(row);
    }
}

